.Shop{
    display: flex;
    flex-direction: column;
    width: 85vw;
    overflow-x: hidden; 
    padding-top: 5vh;
    align-items: center;
}
.ShopDisplay{
    display: flex;
    flex-direction: row;
    width: 85vw;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: center;
}
.MobileShopDisplay{
    display: flex;
    flex-direction: row;
    width: 70vw;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: space-between;
}
.MobileShopItem{
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.MobileShopItem > h4{
    font-weight: lighter;
    font-size: .75rem;
}
.ShopItem{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 150px;
    margin: 10px 10px 10px 10px ;
}
.ShopItem > img {
    height:inherit;
    width: inherit;
}
.ShopItem > h4{
    font-weight: lighter;
    font-size: .75rem;
}
.ShopNavi{
    display: flex;
    flex-direction: column;
    height: 10vh;
    width: 85vw;
}
.ShopNaviRow{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.ShopForm{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}
.break{
    display: block;
    height: 2px;
    width: 100%;
    background-color: grey;
}

